body{
  margin: 0px;
  padding: 15px;
}
.note{
  width: 250px;
  height: 150px;
  background-color: yellow;
  padding: 15px;
  border: 1px solid orange;
  box-shadow: 2px 6px 12px rgba(0,0,0,0.2);
  position: absolute;
}
textarea {
  width: 96%;
  height: 115px;
}
.board{
  background-color: #bfd8d8;
  position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}